<p>Bienvenido a nuestro <%= title %> de preguntas.</p>
        <span><a href="/quizes/question">¡Comience a jugar!</a></span>
        <span><a href="/quizes/question_list">Listado de preguntas</a></span>
      <footer class="main" id="f1">
      </footer>