<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Preguntas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (min-width: 530px) and (min-device-width: 481px) and (max-width:720px)'
          href='/stylesheets/wide.css' />
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (max-width: 480px)'
          href='/stylesheets/smartphone.css' />
  </head>
  <body>
    <div id="list">
      <h1>GRAN QUIZ</h1>
        <section class="main" id="s1">
        <%- body %>
      </section>
    </div>
  </body>
</html>