<form action="/quizes/answer" method="get">
  <p>Pregunta: <%- pregunta %> </p>
    <input type="text" name="respuesta" autofocus />
    <input aling="center" type="submit" value="Enviar" /></br>
    <span><a href="/">Inicio</a></span>
</form>